{% extends "base.html" %}

{% block title %}Reservation Details{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>{{ object.title }}</h2>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Room</dt>
            <dd class="col-sm-9">{{ object.room }}</dd>

            <dt class="col-sm-3">Organizer</dt>
            <dd class="col-sm-9">{{ object.organizer }}</dd>

            <dt class="col-sm-3">Start Time</dt>
            <dd class="col-sm-9">{{ object.start_time }}</dd>

            <dt class="col-sm-3">End Time</dt>
            <dd class="col-sm-9">{{ object.end_time }}</dd>

            <dt class="col-sm-3">IT Support Needed</dt>
            <dd class="col-sm-9">{{ object.it_support_needed|yesno:"Yes,No" }}</dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9">{{ object.description }}</dd>
        </dl>
    </div>
</div>
<a href="{% url 'reservation_list' %}" class="btn btn-primary mt-3">Back to List</a>
{% endblock %}